<div class="login-container">
<mat-tab-group class="matTab-container" (click)="changeTab($event)">

  <mat-tab #tabHeader label="Iniciar sesión" >
   <!-- <img class='logo' src="../../../assets/images/postLogo.png" alt=""> -->
   <section class='header'> <img src="../../../assets/images/logolabNotes.png" alt="" class="logo"></section>
  
       <app-login-form (userValues)="login($event, 'logIn')" [estado]="'login'"></app-login-form
  >
  <app-google-login (click)="googleLogin()"></app-google-login>
  
 
</mat-tab>
  <mat-tab label="Registarse"> 
     <!-- <app-register-form (userValues)="login($event, 'signUp')"></app-register-form
      
    > -->
    <div class='header'>
    <img src="../../../assets/images/logolabNotes.png" alt="" class="logo"></div>
    <app-login-form (userValues)="login($event, 'signUp')" [estado]="'register'"></app-login-form
      >
    <app-google-login (click)="googleLogin()"></app-google-login></mat-tab>

</mat-tab-group>
</div>