@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
body{
    overflow-x: hidden;
}
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}