.login-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  background-image: url(./background.jpg);
    width: 100vw;
    height: 100vh;
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60vh;
        border-radius: 10%;
        background-color: rgba(240, 248, 255, 0.692);
        mat-form-field{
            width: 80%;
            
        }
    }
}