.sidenav-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.sidenav-content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: auto;
 justify-content: center;

  width: 100vw;

   
  height: 92vh;
  margin: 1vh 1vh 1vh 1vw;

  .note-container {
    background-color: rgba(235, 233, 166, 0.863);
    height: 27vh;
      width: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5% 5% 5% 5%;
      margin-left: 1vw;
    textarea {
      border-radius: 5% 5% 5% 5%;
      border: none;
      background-color:  rgba(235, 233, 166, 0.863);
      height: 22.8vh;
      width: 20vw;
      outline: none;
      resize: none;
    }
    .agregar{
        align-self: flex-end;
        margin-right: 0.3vw;
        color:rgb(61, 61, 65)
    }
  }
}

.sidenav {
  padding: 20px;
  height: 100vh;
}
