<mat-drawer-container class="sidenav-container"  >
  <mat-drawer #drawer class="sidenav" mode="over" >
    <button mat-raised-button (click)="logOut()">Salir</button>
    <!-- <button mat-raised-button *ngIf="userLogged|async as user" (click)="getNotes(user.uid)">notas</button> -->
  
    <p class="usuario" *ngIf="userLogged|async as user">{{user.email}}</p>
 
 
  </mat-drawer>
  <button type="button" mat-button (click)="drawer.toggle()">Menu</button>
  <div class="sidenav-content">
    <div class="note-container">
      <textarea #note placeholder="escribe tu nota aquuí"></textarea>
      <mat-icon matSuffix *ngIf="userLogged|async as user" class="agregar" (click)="sendContent(note.value, user.uid); note.value=''"
        >save_outlined</mat-icon
      >
    </div>
    <div class="note-container" *ngFor= 'let nota of notes'>
        <textarea #noteEdit placeholder={{nota.content}}>{{nota.content}}</textarea>
        <mat-icon matSuffix *ngIf="userLogged|async as user" class="agregar" (click)="editContent(noteEdit.value, nota.id, user.uid)"
          >save_outlined</mat-icon
        >
        <mat-icon matSuffix *ngIf="userLogged|async as user" class="agregar" (click)="delete(nota.id)"
        >delete_outlined</mat-icon
      >
       
      </div> 
  </div>
</mat-drawer-container>
